texturepacks/
shaderpacks/
resourcepacks/
coremods/
mods/
saves/
screenshots/
logs/
local/
modernfix/
usercache.json
usernamecache.json
icon.png
emi.json
config/oculus.properties
crash-reports/
options.txt
